{% extends 'base.html.twig' %}

{% block body %}


{% include 'navbar.html.twig' %}

<div class="hero">
  <div class="overlay"></div>
  <div class="job-search">
    {{ form_start(form,{'method': 'POST'}) }}
      <div class="d-flex">
        {{form_widget(form.job, {'attr' : {'class': 'search-bar form-control', 'placeholder':'Job title or keywords'}})}}
        {{form_widget(form.location, {'attr' : {'class': 'form-select'}})}}
        {{form_widget(form.search, {'attr' : {'class': 'btn search-btn', 'value':'Search'}})}}  
      </div>
    {{ form_end(form) }}

  </div>
</div>

{% endblock %}