{% extends 'base.html.twig' %}

{% block body %}


{% include 'navbar.html.twig' %}

<div class="hero">
  <div class="overlay"></div>
  <div class="job-search">
    {{ form_start(form,{'method': 'POST'}) }}
      <div class="d-flex">
        {{form_widget(form.job, {'attr' : {'class': 'search-bar form-control', 'placeholder':'Job title or keywords'}})}}
        {{form_widget(form.location, {'attr' : {'class': 'form-select'}})}}
        {{form_widget(form.search, {'attr' : {'class': 'btn search-btn', 'value':'Search'}})}}  
      </div>
    {{ form_end(form) }}

  </div>
</div>



<div class="categories text-center">
  <div class="container">
    <h1 class="mb-5">Categories</h1>
    <div class="row">
      <div class="col-lg-3">
        <div class="category-item">
          <i class="fi fi-rr-customize-computer"></i>
          <p>Design & Creative</p>
          <span>(653)</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="category-item">
          <i class="fi fi-rr-customize-computer"></i>
          <p>Design & Creative</p>
          <span>(653)</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="category-item">
          <i class="fi fi-rr-customize-computer"></i>
          <p>Design & Creative</p>
          <span>(653)</span>
        </div>
      </div>
      <div class="col-lg-3 mb-5">
        <div class="category-item">
          <i class="fi fi-rr-customize-computer"></i>
          <p>Design & Creative</p>
          <span>(653)</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="category-item">
          <i class="fi fi-rr-customize-computer"></i>
          <p>Design & Creative</p>
          <span>(653)</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="category-item">
          <i class="fi fi-rr-customize-computer"></i>
          <p>Design & Creative</p>
          <span>(653)</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="category-item">
          <i class="fi fi-rr-customize-computer"></i>
          <p>Design & Creative</p>
          <span>(653)</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="category-item">
          <i class="fi fi-rr-customize-computer"></i>
          <p>Design & Creative</p>
          <span>(653)</span>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="how-it-works text-center">
  <div class="container">
    <h1 class="mb-5">How it works</h1>
    <div class="row">
      <div class="col-lg-4">
        <div class="item">
          <i class="fi fi-rr-assessment"></i>
          <h3>1. Search a job</h3>
          <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item">
          <i class="fi fi-rr-user-trust"></i>
          <h3>2. Apply for a job</h3>
          <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item">
          <i class="fi fi-rr-employee-man"></i>
          <h3>3. Get your job</h3>
          <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% include 'footer.html.twig' %}

{% endblock %}

