{% extends 'base.html.twig' %}

{% block body %}

{% include 'navbar.html.twig' %}

	<div class="slider">
		<div class="overlay"></div>
		<div class="slide-content">
			<h1>Apply for a job</h1>
		</div>
	</div>


	<div class="container">
		<div class="job-desc">
			<div class="row">
				<div class="col-lg-8">
        <h1 class="mb-5">Apply</h1>
          {{ form_start(form) }}
            <div class="row">
              <div class="col-lg-6 mb-3">
                {{ form_widget(form.nom, {'attr': {'class' : 'form-control', 'placeholder' : 'First name'}}) }}
              </div>
              <div class="col-lg-6 mb-3">
                  {{ form_widget(form.prenom, {'attr': {'class' : 'form-control', 'placeholder' : 'Last name'}}) }}
              </div>
              <div class="col-lg-6 mb-3">
                {{ form_widget(form.email, {'attr': {'class' : 'form-control', 'placeholder' : 'Email'}}) }}
              </div>
              <div class="col-lg-6 mb-3">
                {{ form_widget(form.telephone, {'attr': {'class' : 'form-control', 'placeholder' : 'Phone number'}}) }}
              </div>
              <div class="col-lg-6 mb-3">
                {{ form_row(form.cv, {'attr': {'class' : 'form-control', 'placeholder' : 'CV'}}) }}
              </div>
              <div class="col-lg-6 mb-3">
                {{ form_row(form.coverletter, {'attr': {'class' : 'form-control', 'placeholder' : 'CV'}}) }}
              </div>


              {{ form_widget(form.apply, {'attr': {'class' : 'btn btn-primary'}}) }}
            </div>
          {{ form_end(form) }}
			  </div>
			
        <div class="col-lg-4">
          <div class="job-overview">
            <h3>Job overview</h3>
            <ul>
              <li>Posted date :
              </li>
              <li>Location :
              </li>
              <li>Job nature :
              </li>
              <li>Salary :
              </li>
              <li>Salary :</li>
            </ul>
          </div>
        </div>

		</div>
	</div>
</div>{% endblock %}

