{% extends 'base.html.twig' %}

{% block title %}Edit job
{% endblock %}

{% block body %}

<div class="d-flex">

	<div class="admin">
		{% include 'recruiter_sidebar.html.twig' %}
	</div>

	<div class="container">

		<div class="content">
			
			<h1>Edit job</h1>
			
			{{ form_start(form) }}
				
				<div class="form-group mb-3">
						{{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder':'Nom', 'value': job.name}}) }}
				</div>

				<div class="form-group mb-3">
						{{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder':'Prénom', 'value': job.description}}) }}
				</div>

				<div class="form-group mb-3">
						{{ form_row(form.minsalary, {'attr': {'class': 'form-control', 'placeholder':'Email', 'value':job.minsalary}})  }}
				</div>

				<div class="form-group mb-3">
					{{ form_row(form.maxsalary, {'attr': {'class': 'form-control', 'placeholder':'Email', 'value':job.maxsalary}})  }}
				</div>

				<div class="form-group mb-3">
					{{ form_row(form.type, {'attr': {'class': 'form-control', 'placeholder':'Email', 'value':job.type}})  }}
				</div>

				<div class="form-group mb-3">
					{{ form_row(form.country, {'attr': {'class': 'form-control', 'placeholder':'Email', 'value':job.country}})  }}
				</div>

				<div class="form-group mb-3">
					{{ form_row(form.city, {'attr': {'class': 'form-control', 'placeholder':'Email', 'value':job.city}})  }}
				</div>

				<div class="form-group mb-3">
					{{ form_row(form.post, {'attr': {'class': 'btn btn-primary custom-btn'}}) }}
				</div>

			{{ form_end(form) }}

		</div>

	</div>

</div>



{% endblock %}

{% block js %}

	<script>

			let dropdown = document.querySelector(".account-dropdown");
			let avatar = document.querySelector(".avatar");
			let account = document.querySelector(".account");
			
			avatar.addEventListener("click", function () {
				if (dropdown.classList.contains("show")) {
					dropdown.classList.remove("show");
				} else {
					dropdown.classList.add("show");
				}
			});

			document.addEventListener("click", function (e) {
				if (dropdown.classList.contains("show")) {
					if (! account.contains(e.target)) {
						dropdown.classList.remove("show");
					}
				}
			});

	</script>
{% endblock  %}

