{% extends 'base.html.twig' %}

{% block body %}


	{% include 'navbar.html.twig' %}

	<div class="slider">
		<div class="overlay"></div>
		<div class="slide-content">
			<h1>Contact us</h1>
		</div>
	</div>

    <div class="container pt-5">
        {{ form_start(form) }}
        <h1 class="mb-5 text-center">Contact Us</h1>
        <div class="row">
            
            <div class="col-lg-6">
                {{ form_row(form.firstname, {'attr':{'class':'form-control mb-3'}}) }}
            </div>
            
            <div class="col-lg-6">
                {{ form_row(form.lastname, {'attr':{'class':'form-control mb-3'}}) }}
            </div>
            
            <div class="col-lg-6">
                {{ form_row(form.email, {'attr':{'class':'form-control mb-3'}}) }}
            </div>
            
            <div class="col-lg-6">
                {{ form_row(form.subject, {'attr':{'class':'form-control mb-3'}}) }}
            </div>
            
            <div class="col-lg-12">
                {{ form_row(form.message, {'attr':{'class':'form-control mb-3'}}) }}
            </div>

            {{ form_row(form.send, {'attr':{'class':'custom-btn'}}) }}

            {{ form_end(form) }}
        </div>
    </div>

    

{% endblock %}

