{% extends 'base.html.twig' %}

{% block body %}

{% include 'navbar.html.twig' %}

	<div class="slider">
		<div class="overlay"></div>
		<div class="slide-content">
			<h1>Apply for a job</h1>
		</div>
	</div>


	<div class="container">
    <div class="job-desc">
      <div class="row">
        <div class="col-lg-8">
          <div class="job-details">
            <div class="desc-item">
              <h3>Job description</h3>
              <p>{{job.description}}</p>
            </div>
            
            <div class="desc-item">
              <h3>Required Knowledge, Skills, and Abilities</h3>
              <ul>
                {% for requirement in job.requirements %}
                  <li> {{requirement}} </li>
                {% endfor %}
              </ul>
            </div>

            <div class="desc-item">
              <h3>Education + Experience</h3>
              <ul>
                {% for experience in job.experiences %}
                  <li> {{experience}} </li>
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>

        <div class="col-lg-4">
          <div class="job-overview">
            <h3>Job overview</h3>
            <ul>
              <li>Posted date : {{job.posteddate|date("d/m/Y")}}</li>
              <li>Location : {{job.city}}, {{job.country}}</li>
              <li>Job nature : {{ job.type}}</li>
              <li>Min Salary : {{job.minsalary}}€</li>
              <li>Max Salary : {{job.maxsalary}}€</li>
            </ul>
            <a href="{{path("app_job_apply", {'id': job.id})}}" class="custom-btn">Apply</a>
          </div>
        </div>
      </div>
    </div>
	</div>

{% endblock %}

