{% extends 'base.html.twig' %}
{% block title %}Profile
{% endblock %}
{% block body %}
	<div class="row">
		
		
		<div class="admin">
			{% include 'user_sidebar.html.twig' %}
		</div>
		
		
		<div class="col-lg-10">
			<div class="content">
		
				<h1>Profile</h1>
		
				{{ form_start(form) }}
		
				<div class="profile mb-3">
					<div class="row">
						<div class="col-lg-6 mb-3">
							{{ form_widget(form.firstname, {'attr': {'value' : user.nom }}) }}
						</div>
						<div class="col-lg-6 mb-3">
							{{ form_widget(form.lastname, {'attr': { 'value' : user.prenom }}) }}
						</div>
						<div class="col-lg-6 mb-3">
							{{ form_widget(form.email, {'attr': { 'value' : user.email }}) }}
						</div>
						<div class="col-lg-6 mb-3">
							{{ form_widget(form.phone, {'attr': { 'value' : user.telephone }}) }}
						</div>
						<div class="col-lg-12 mb-3">
							{{ form_widget(form.cv) }}
						</div>
					</div>
				</div>


				<div class="col-lg-12 mb-5">
				
					<div class="educations">
				
						<h1>Education</h1>
				
						<button type="button" class="btn btn-success add-education mb-3">Add More</button>
				
						{% for education in form.education %}
							<div class="education-entry">
								{{ form_row(education.year, {'attr': {'class': 'form-select'}}) }}
								{{ form_row(education.degree, {'attr': {'class': 'form-select'}}) }}
								{{ form_row(education.university, {'attr': {'class': 'form-control'}}) }}
							</div>
				
						{% endfor %}
						{% if form.education|length == 0 %}
				
							<div class="education-entry">
								{{ form_row(form.education.vars.prototype.year)}}
								{{ form_row(form.education.vars.prototype.degree)}}
								{{ form_row(form.education.vars.prototype.university)}}
							</div>
				
						{% endif %}
					</div>
				</div>


				<div class="col-lg-12 mb-5">
					<div class="experiences">
						<h1>Experience</h1>
						<button type="button" class="btn btn-success add-experience mb-3">Add More</button>
						{% for experience in form.experience %}
							<div class="experience-entry mb-3">
								<div class="row">
									<div class="col-lg-6">
										{{ form_row(experience.company, {'attr': {'class': 'form-control'}}) }}
									</div>
									<div class="col-lg-6">
										{{ form_row(experience.jobTitle, {'attr': {'class': 'form-control'}}) }}
									</div>
									<div class="col-lg-6">
										{{ form_row(experience.yearFrom, {'attr': {'class': 'form-control'}}) }}
									</div>
									<div class="col-lg-6">
										{{ form_row(experience.toYear, {'attr': {'class': 'form-control'}}) }}
									</div>
							</div>
							</div>
						{% endfor %}
						<!-- The prototype for new entries -->
						{% if form.experience|length == 0 %}
							<div class="experience-entry">
								{{ form_row(form.experience.vars.prototype.company)}}
								{{ form_row(form.experience.vars.prototype.jobTitle)}}
								{{ form_row(form.experience.vars.prototype.yearFrom)}}
								{{ form_row(form.experience.vars.prototype.toYear)}}
							</div>
						{% endif %}
					</div>
				</div>


				<div class="col-lg-12 mb-5">
					<div class="skills">
						<h1>Skill</h1>
						<button type="button" class="btn btn-success add-skill mb-3">Add More</button>
						{% for skill in form.skill %}
							<div class="skill-entry">
								{{ form_row(skill.skills, {'attr': {'class': 'form-control'}}) }}
							</div>
						{% endfor %}
						<!-- The prototype for new entries -->
						{% if form.skill|length == 0 %}
							<div class="skill-entry">
								{{ form_row(form.skill.vars.prototype.skills,{'attr': {'class': ''}})}}
							</div>
						{% endif %}
					</div>
				</div>


				<div class="col-lg-6 mb-3">
					{{ form_widget(form.save) }}
				</div>


			{{ form_end(form) }}
			</div>
	
		</div>
	
	
</div>

{% endblock %}{% block js %}<script>
let dropdown = document.querySelector(".account-dropdown");
let avatar = document.querySelector(".avatar");
let account = document.querySelector(".account");
avatar.addEventListener("click", function () {
if (dropdown.classList.contains("show")) {
dropdown.classList.remove("show");
} else {
dropdown.classList.add("show");
}
});

document.addEventListener("click", function (e) {
if (dropdown.classList.contains("show")) {
if (! account.contains(e.target)) {
dropdown.classList.remove("show");
}
}
});

document.addEventListener('DOMContentLoaded', function () {
const educationContainer = document.querySelector('.educations');
const addEducationButton = document.querySelector('.add-education');

// Manually define the template for a new education entry in JavaScript
const createEducationEntry = (index) => {
return `
              <div class="education-entry mb-3">
                  <input type="text" name="form[education][${index}][year]" placeholder="Year" class="form-control">
                  <input type="text" name="form[education][${index}][degree]" placeholder="Degree" class="form-control">
                  <input type="text" name="form[education][${index}][university]" placeholder="University" class="form-control">
                  <button type="button" class="btn btn-danger remove-education">Remove</button>
              </div>`;
};

addEducationButton.addEventListener('click', function () {
const index = educationContainer.querySelectorAll('.education-entry').length;
const newEntryHtml = createEducationEntry(index);
educationContainer.insertAdjacentHTML('beforeend', newEntryHtml);
});

// Event delegation to handle removing dynamically added fields
educationContainer.addEventListener('click', function (event) {
if (event.target.classList.contains('remove-education')) {
event.target.closest('.education-entry').remove();
}
});
});


document.addEventListener('DOMContentLoaded', function () {
const experienceContainer = document.querySelector('.experiences');
const addExperienceButton = document.querySelector('.add-experience');

// Manually define the template for a new education entry in JavaScript
const createExperienceEntry = (index) => {
return `
              <div class="experience-entry mb-3">
                  <input type="text" name="form[experience][${index}][company]" placeholder="Company" class="form-control">
                  <input type="text" name="form[experience][${index}][jobTitle]" placeholder="Job Title" class="form-control">
                  <input type="date" name="form[experience][${index}][yearFrom]" placeholder="From" class="form-control">
                  <input type="date" name="form[experience][${index}][toYear]" placeholder="To" class="form-control">
                  <button type="button" class="btn btn-danger remove-experience">Remove</button>
              </div>`;
};

addExperienceButton.addEventListener('click', function () {
const index = experienceContainer.querySelectorAll('.experience-entry').length;
const newEntryHtml = createExperienceEntry(index);
experienceContainer.insertAdjacentHTML('beforeend', newEntryHtml);
});

// Event delegation to handle removing dynamically added fields
experienceContainer.addEventListener('click', function (event) {
if (event.target.classList.contains('remove-experience')) {
event.target.closest('.experience-entry').remove();
}
});
});


document.addEventListener('DOMContentLoaded', function () {
const experienceContainer = document.querySelector('.skills');
const addExperienceButton = document.querySelector('.add-skill');

// Manually define the template for a new education entry in JavaScript
const createExperienceEntry = (index) => {
return `
              <div class="skill-entry mb-3">
                  <input type="text" name="form[skill][${index}][skills]" placeholder="Javascript, PHP ..." class="form-control">
                  <button type="button" class="btn btn-danger remove-skill">Remove</button>
              </div>`;
};

addExperienceButton.addEventListener('click', function () {
const index = experienceContainer.querySelectorAll('.skill-entry').length;
const newEntryHtml = createExperienceEntry(index);
experienceContainer.insertAdjacentHTML('beforeend', newEntryHtml);
});

// Event delegation to handle removing dynamically added fields
experienceContainer.addEventListener('click', function (event) {
if (event.target.classList.contains('remove-skill')) {
event.target.closest('.skill-entry').remove();
}
});
});</script>{% endblock  %}

