{% extends 'base.html.twig' %}

{% block title %}
	My Applications
{% endblock %}

{% block body %}
  <div class="container">
	<div class="row">
		<div class="admin">
			{% include 'user_sidebar.html.twig' %}
		</div>

		<div class="content">
      <div class="parameters">
        {{ form_start(form) }}
          <h1>Parameters</h1>

          <div class="avatar mb-3">
            <img src="../avatars/{{user.useravatar}}" alt="">
            {{ form_row(form.avatar, {'attr': { 'class' : 'form-control mb-3'}}) }}
            <span id="changeButton">Change</span>
          </div>

          {{ form_row(form.newPassword, {'attr': { 'class' : 'form-control mb-3'}}) }}
          {{ form_row(form.confirmPassword, {'attr': {'class' : 'form-control mb-3'}}) }}
          {{ form_row(form.save, {'attr': {'class' : 'btn btn-primary mb-3'}}) }}

        {{ form_end(form) }}
      </div>
    </div>

	</div>
</div>



{% endblock %}
{% block js %}
	<script>

		let dropdown = document.querySelector(".account-dropdown");
    let account = document.querySelector(".account");
    let avatar = document.querySelector(".avatar");

avatar.addEventListener("click", function () {
  if (dropdown.classList.contains("show")) {
    dropdown.classList.remove("show");
  } else {
    dropdown.classList.add("show");
  }
});

document.addEventListener("click", function (e) {
  if (dropdown.classList.contains("show")) {
    if (! account.contains(e.target)) {
      dropdown.classList.remove("show");
    }
  }
});


  const fileInput = document.getElementById("form_avatar");
    const changeButton = document.getElementById("changeButton");
    changeButton.addEventListener("click", () => {
      fileInput.click();
    });

	</script>
{% endblock  %}

